.container {
    max-width: 1263px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    height: 100%;
}
header {
    height: 84px;
    .container {
        img {
            margin-top: 24px;
            display: inline-block;
        }
        .headerflex {
            display: inline-flex;
            max-width: 554px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            align-items: center;
            p {
                color: #636060;
                font-family: Helvetica;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}