.container {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 1400px) {
    .container {
        max-width: 90%;
        width: 100%;
    }
}
header {
    height: 84px;
    .container {
        img {
            margin-top: 20px;
            display: inline-block;
            vertical-align: top;
            margin-right: 665px;
        }
        .headerflex {
            display: inline-flex;
            max-width: 554px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            height: 55px;
            align-items: flex-end;
            vertical-align: top;
            p {
                color: #636060;
                font-family: Helvetica;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}