.s2 {
    .container {
        .discover {
            max-width: 235px;
            width: 100%;
            display: inline-block;
            margin-right: 83px;
            h1 {
                color: #636060;
                font-family: Helvetica;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 9px;
            }
            h2 {
                color: #010101;
                font-family: Helvetica;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 37px;
            }
            h3 {
                color: #636060;
                font-family: Helvetica;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .s2flex1 {
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            max-width: 926px;
            width: 926px;
            margin-bottom: 56px;
            .card1 {
                img {
                    margin-bottom: 23px;
                }
                h4 {
                    color: #343232;
                    font-family: Helvetica;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 9px;
                }
                h5 {
                    color: #636060;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .card2 {
                img {
                    margin-bottom: 23px;
                }
                h4 {
                    color: #343232;
                    font-family: Helvetica;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 9px;
                }
                h5 {
                    color: #636060;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .card3 {
                img {
                    margin-bottom: 23px;
                }
                h4 {
                    color: #343232;
                    font-family: Helvetica;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 9px;
                }
                h5 {
                    color: #636060;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .s2flex2 {
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            max-width: 926px;
            width: 926px;
            margin-bottom: 56px;
            margin-left: 318px;
            .card4 {
                img {
                    margin-bottom: 23px;
                }
                h4 {
                    color: #343232;
                    font-family: Helvetica;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 9px;
                }
                h5 {
                    color: #636060;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .card5 {
                img {
                    margin-bottom: 23px;
                }
                h4 {
                    color: #343232;
                    font-family: Helvetica;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 9px;
                }
                h5 {
                    color: #636060;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .card6 {
                img {
                    margin-bottom: 23px;
                }
                h4 {
                    color: #343232;
                    font-family: Helvetica;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 9px;
                }
                h5 {
                    color: #636060;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}