.s2 {
    .container {
        .discover {
            max-width: 235px;
            width: 100%;
            h1 {
                color: #636060;
                font-family: Helvetica;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 9px;
            }
            h2 {
                color: #010101;
                font-family: Helvetica;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            h3 {
                color: #636060;
                font-family: Helvetica;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}