/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 90%;
    width: 100%;
  }
}
header {
  height: 84px;
}
header .container img {
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 665px;
}
header .container .headerflex {
  display: inline-flex;
  max-width: 554px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  align-items: flex-end;
  vertical-align: top;
}
header .container .headerflex p {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s1 {
  margin-bottom: 84px;
}
.s1 img {
  max-width: 100%;
  width: 100%;
}

.s2 .container .discover {
  max-width: 235px;
  width: 100%;
  display: inline-block;
  margin-right: 83px;
}
.s2 .container .discover h1 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .discover h2 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 37px;
}
.s2 .container .discover h3 {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2 .container .s2flex1 {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 926px;
  width: 926px;
  margin-bottom: 56px;
}
.s2 .container .s2flex1 .card1 img {
  margin-bottom: 23px;
}
.s2 .container .s2flex1 .card1 h4 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .s2flex1 .card1 h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2 .container .s2flex1 .card2 img {
  margin-bottom: 23px;
}
.s2 .container .s2flex1 .card2 h4 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .s2flex1 .card2 h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2 .container .s2flex1 .card3 img {
  margin-bottom: 23px;
}
.s2 .container .s2flex1 .card3 h4 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .s2flex1 .card3 h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2 .container .s2flex2 {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 926px;
  width: 926px;
  margin-bottom: 56px;
  margin-left: 318px;
}
.s2 .container .s2flex2 .card4 img {
  margin-bottom: 23px;
}
.s2 .container .s2flex2 .card4 h4 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .s2flex2 .card4 h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2 .container .s2flex2 .card5 img {
  margin-bottom: 23px;
}
.s2 .container .s2flex2 .card5 h4 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .s2flex2 .card5 h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2 .container .s2flex2 .card6 img {
  margin-bottom: 23px;
}
.s2 .container .s2flex2 .card6 h4 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.s2 .container .s2flex2 .card6 h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=global.css.map */